body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 } 

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login {
    background-color: #dedede;
    height:auto;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-bottom: 20px;
}
.signin-nav{
    text-align: center;
}


.form {
    text-align: center;
    padding: 10px;
}

.text-field {
    height: 25px;
    width: 60%;
    background-color: hsl(218deg 18% 91%);
    ;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}
.login h3{
    text-align: center;
}
.sign-up {
    text-align: center;
}

.login-button {
    width: 200px;
    height: 30px;
}

.button1 {
    text-align: center;
    padding: 30px;
}

.register-button {
    height: 30px;
    width: 100px;
}

.button2 {
    text-align: center;
}

.gender {
    margin-right: 100px;
}
.email {
    text-align: center;
}
.forgot-password{
    text-align: center;
}
.col-1{
    background-color: azure;
    height:auto;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-bottom: 20px;
}
.col-1 h3{
    text-align: center;
}
.text-field1{
    height: 35px;
    width: 70%;
    background-color: hsl(218deg 18% 91%);
    
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
   
}
.options{
    height: 22px;
    width: 210px;
    margin: 10px;
    border-radius: 05px;
    border-color: black;
    background-color: hsl(218deg 18% 91%);
}

.save-button{
    height: 30px;
    width: 130px;
  
}
.addquestion-button{
    height: 30px;
    width: 130px;
   

}


.questions-maindiv{
    width: 100vw;
    height: 100vh;
}


.col-2 h5{
    text-align: center;
}







.col-3{
   height: auto;
   width: auto;
}
.col-4{
    text-align: center;
    margin: 10px;
}
.col-5{
    margin: 10px;
    text-align: center;
}
.col-6{
    text-align: center;
    padding: 20px;
}
.col-7{
    display: flex;
    text-align: center;
}
.button7{
    margin: 10px;
}
.button6{
    margin: 10px;
    
}
.col-8{
    background-color: hsl(185deg 70% 47%);
    width: 250px;
}
.admin-nav{
    text-align: center;
    
}
.admin-homediv{
    
    background:hsl(0deg 0% 90%);
    display: flex;
    height: 100vh;
    width: 100vw;
}

.row{
    display: flex;
    border: 1px solid black;
    align-items: center;
    cursor: pointer;
  
}
.row:hover{
    background-color:rgb(83, 83, 79);
}





.admin-div {
    /* .background-color: rgb(159, 163, 163); */
    background-color: rgb(245, 245, 245);
    height: 100vh;
    margin: 0px;
}
.admin-div h3{
    margin: 0px;
    padding: 0px;
}
.main-div{
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 52, 46);
}

.admin-sidebar{
    background: #1d1d1b;
    width: 25%;
}

.nav-div{
    background: azure;
    text-align: center;
}
.nav-div h1{
    margin: 0;
}
.sidebar-div h3{
    margin: 0;
}


/* admin content*/
.admin-content-home h1{
    text-align: center;
    margin: 10px;
}
.admin-content-regstudents{
    align-items: center;
    margin: 10px;
}
.admin-content-regstudents h1{
    text-align: center;
}
.admin-content{
    height: 100%;
    width: 100%;
}
.registered-students-div{
    background-color: rgb(53, 52, 46);
    width: 70%;
    height: auto;
}
.add-quiz-events h2{
    text-align: center;
}

.add-quiz-eventdiv{
    align-items: center;
    display: flex;
}
.add-quiz-eventdiv h3{
    margin: 10px;
}

.addquiztextfield{
    align-items:center;
    width: 300px;
    height: 30px;
    border: none;
    margin: 10px;
    
}
.addquizeventdate{
    margin: 10px;
}
.addquizeventtime{
    margin: 10px;
}
.addquizevenb{
    width: 150px;
    height: 30px;
}
.addquizevent{
    text-align: center;
}
.apply-quiz-div h2{
    text-align: center;
}
.apply-quiz-div{
    margin: 10px;
}
.applyquiz{
    margin: 10px;
    text-align: center;
}
.applyquizb{
    width: 150px;
    height: 30px;
}

.questionAns{
    display: flex;
    align-items: center;
}
.questionAns h4{
    text-align: center;
}
.answer h3{
    text-align: center;
}
.addquestion-savediv {
    text-align: center;
    display: flex;
    justify-content: center;
}






/* Teacher */


.teacher-maindiv{
   /* background-color: rgb(53, 52, 46);*/
    height: 100vh;
    width:100vw;
    margin: 0px;
}

.teacher-nav{
    text-align: center;
    margin: 0px;
    background-color: white;
}
.teacher-nav h1{
    margin: 0px;
}
.teacher-homediv{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.teacher-sidebar{
    width: 25%;
    background-color: #1d1d1b;
}
.teacher-sidebarcontent{
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.teacher-sidebarcontent h5{
    text-align: right;
}
.teacher-sidebarcontent:hover{
    background-color:rgb(83, 83, 79);
}
.teacher-content{
    background-color: rgb(214, 216, 216);
    width: 100%;
}
.teacher-content h2{
    text-align: center;
    margin: 20px;
}
.add-questiondiv h2{
    text-align: center;
    margin: 0px;
}
.add-questiondiv h3{
    text-align: center;
}

.addquestionmain-div{
    background-color: #dedede;
    height: auto;
    width: auto;
}

.addquestions-quiztpye{
    margin: 10px;
    display: flex;
}
.quiztype-select{
    width: 200px;
    height: 30px;
    margin: 10px;
}
.number-of-questions{
    margin: 10px;
    display: flex;
}
.t-addquestion-button{
    text-align: center;
}
.t-addquestion-field{
    width: 200px;
    height: 30px;
    margin: 10px;
}






/* student*/


.student-maindiv{
    margin: 0px;
}
.student-maindiv h1{
    margin: 0px;
}
.student-nav{
    text-align: center;
}
.student-homediv{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.student-sidebar{
    width: 25%;
    background-color: #1d1d1b;
    height: 100%;
}
.student-sidebarcontent{
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}
.student-sidebarcontent:hover{
    background-color: rgb(83, 83, 79);
}
.student-content{
    background-color: rgb(214, 216, 216);
    width: 100%;
}
.student-content h2{
    margin: 0px;
    text-align: center;
}
.questionAns{
    align-items: center;
}
.questionAns h3{
    text-align: center;
}
.enterQuestion-div{
    height: 25px;
    width: 450px;
    background-color: hsl(218deg 18% 91%);
    border-radius: 5px;
    border-color: black;
    margin: 10px;
}
.questionAn-div{
    align-items: center;
    text-align: center;
}